@import "tailwindcss";

@font-face {
    font-family: 'font-terminal';
    src: url("/fonts/ibm_vga8.woff2") format("woff2");
    font-display: swap;
}

@theme {
    --font-terminal: "font-terminal"
}